%h1 10 Recent sent mails

%table.table
  %tr
    %th Subject
    %th From
    %th To

  - @contacts.each do |mail|
    %tr
      %td
        = mail[:subject]
      %td
        = mail[:from].join(', ')
      %td
        = mail[:to].join(', ')

